.tab.hidden { display: none; }
form input, form button {
  margin: 5px;
  padding: 8px;
  width: 200px;
}
form button {
  width: auto;
}
div {
  margin: 5px 0;
}
button { cursor: pointer; }
#pettyList div, #reportList div, #supplierList div, #debtorList div, #creditorList div, #stockList div, #posItems div, #invoiceList div {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
